html,
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 25px;
  background: #fff;
  margin: 0;
}
h1 {
  color: #000;
  margin: 40px;
  text-align: center;
}
.container {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.container a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  min-height: 80px;
  margin: 10px;
  background-color: blue;
  cursor: pointer;
  padding: 20px 40px;
  border-radius: 5px;
  font-size: 20px;
}

.container a,
.container a:hover,
.container a:visited {
  text-decoration: none;
  color: #fff;
}

.container a:hover {
  background-color: darkblue;
}

.container a[href="#"] {
  background-color: #b9b9b9;
}

footer {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
  align-items: flex-end;
  background: white;
}